  /* All Card */
  .card {
    width: 352px;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid var(--main-color);
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  }

  /* Card */
  .cardbox {
    display: grid;
    place-items: center;
    text-align: center;
    height: 352px;
  }

  /* Info in Card */
  .infocards {
    list-style: none;
    display: grid;
    place-items: center;
  }

  /* Icon in InfoCard */
  .infocardsicon {
    font-size: 80px;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.5s ease;
  }

  /* Title Card */
  .infocardstitle h1 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-title);
    color: var(--Dark);
  }

  /* Desc Card */
  .infocardsdesc p {
    color: var(--Gray);
    font-weight: var(--font-weight-text);
    margin-top: 12px;
    max-width: 263px;
  }

  /* Button Open Content*/
  .buttoncard {
    margin-top: 50px;
    cursor: pointer;
    color: var(--main-color);
  }

  /* Hover Button */
  #btn {
    transition: all 0.5s ease;
  }

  #btn:hover {
    transition: all 0.5s ease;
    transform: scale(1.2);
  }

  /* Content/SubCar */
  .contentcard {
    display: flex;
    background: var(--main-color);
    align-items: center;
    flex-direction: column;
    color: var(--text-color-secon);
    text-align: center;
    font-size: 24px;
  }

  /* Text SubCard */
  .contentcard ul li {
    padding: 10px;
    font-weight: var(--font-weight-title);
  }

  /* All Cards */
  .sevicescards {
    display: flex;
    gap: 50px;
  }

  @media (max-width: 580px) {
    .sevicescards {
      display: grid;
    }

    .card {
      width: 352px;
    }

    .infocardstitle h1 {
       font-size: 1.5rem;
    }
  
    /* Desc Card */
    .infocardsdesc p {
      font-size: 1rem;
    }
  }