  /* All Card */
  .sevicescards {
    padding-bottom: 160px;
  }

  .card {
    width: 352px;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid var(--main-color);
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  }

  /* Card */
  .cardbox {
    display: grid;
    place-items: center;
    text-align: center;
    height: 352px;
  }

  /* Info in Card */
  .infocards {
    list-style: none;
    display: grid;
    place-items: center;
  }

  /* Icon in InfoCard */
  .infocardsicon {
    font-size: 80px;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.5s ease;
  }

  /* Title Card */
  .infocardstitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Dark);
  }

  /* Desc Card */
  .infocardsdesc {
    position: relative;
    color: var(--Gray, #767676);
    text-align: center;
    align-self: center;
    margin-top: 12px;
    max-width: 263px;
    font: 400 16px;
  }

  /* Button Open Content*/
  .buttoncard {
    margin-top: 50px;
    cursor: pointer;
    color: var(--main-color);
  }

  /* Hover Button */
  #btn {
    transition: all 0.5s ease;
  }

  #btn:hover {
    transition: all 0.5s ease;
    transform: scale(1.2);
  }

  /* Content Open */
  #iconbuttoncard.open {
    transition: all 0.5s ease;
    transform: rotate(-180deg);
  }

  /* Content/SubCar */
  .contentcard {
    display: flex;
    background: var(--main-color);
    align-items: center;
    flex-direction: column;
    color: var(--text-color-secon);
    text-align: center;
    
    overflow: hidden;
    transition: all 0.5s;
    transform: translateY(30);
    font-size: 24px;
  }

  /* Content/SubCard Open */
  .contentcard.opencard {
    display: flex;
    transform: translateY(0);
  }

  /* Text SubCard */
  .contentcard ul li {
    padding: 10px;
  }

  /* All Cards */
  .sevicescards {
    display: flex;
    gap: 50px;
  }