.infocardsicon {
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
  }

  #plus {
    position: absolute;
    top: -60px;
    left: 70px;
  }

  .infocardsicon:hover {
    transition: all 0.5s ease;
    transform: scale(1.2);
  }