* {
  margin: 0;
  padding: 0;
}

/* NavBar */
header {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 9999;
  transition: all 0.5s ease;
}

header .bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 12%;
  z-index: 1000;
  width: 100%;
  background: var(--sec-bg-color);
  transition: all 0.5s ease;
}

.visible {
  top: 0;
  transition: all 0.5s ease;
}

.hidden {
  top: -110px;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--main-color);
  font-size: 1.75rem;
  margin-right: 3px;
}

.logo span {
  color: var(--text-color-secon);
  font-size: 1.7rem;
  font-weight: 600;
}

.navbar {
  display: flex;
}

.main {
  display: flex;
  align-items: center;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.main a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 2.18rem;
  color: var(--text-color-secon);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* SubNavBar */
.subnavbar {
  position: absolute;
  background: var(--main-color);
  margin: 70px 0px 0px 0px;
  width: 100%;
  transition: all 0.5s ease;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
}

.menusubnavbar {
  display: flex;
  justify-content: space-around;
}

a {
  color: var(--text-color-secon);
}

.menusubnavbar i {
  font-size: 1.12rem;
  margin-right: 6px;
}

.menusubnavbar li {
  display: flex;
  justify-content: center;
  padding: 3px;
  text-align: center;
  transition: all 0.5s ease;
  width: 250px;
}

.menusubnavbar li a{
  width: 100%;
}


.menusubnavbar li:hover {
  background: var(--sec-bg-color);
}

/* Diminuir NavBar */
@media (max-width: 1280px) {
  header {
    transition: 0.2s;
  }

  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1090px) {

  /* Header */
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
    border: 1px solid #ffffff;
  }

  .navbar a {
    display: block;
    margin: 15px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }

  .navbar a:hover {
    color: var(--sec-bg-color);
    transform: translateY(5px);
  }

  .navbar.open {
    right: 2%;
  }
}

@media (max-width: 580px) {
  .menusubnavbar a {
    font-size: 0.75rem;
  }

  .menusubnavbar i {
    font-size: 1rem;
  }

  .menusubnavbar li {
    width: 150px;
  }
}

@media (max-width: 383px) {
  .menusubnavbar a {
    font-size: 0.6rem;
  }

  .menusubnavbar i {
    font-size: 0.7rem;
  }

  .menusubnavbar li {
    width: 150px;
  }
}

@media (max-width: 308px) {
  .menusubnavbar a {
    font-size: 0.5rem;
  }
}