.clinic-info {
    margin-top: 1.5rem;
    display: grid;
    width: 100%;
    gap: 2rem;
}

.clinic-info .clinic-info_description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.clinic-info .clinic-info_description .desc_img, .clinic-info .clinic-info_description .desc_img-in {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.clinic-info .clinic-info_description .desc_img img, .clinic-info .clinic-info_description .desc_img-in img {
    width: 95%;
    box-shadow: -90px -25px #0A486B;
}

.clinic-info .clinic-info_description .clinic-info_desc_txt {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: left;
    padding: 2px 20px;
}

h3 {
    font-size: xx-large;
    font-weight: 700;
    color: #033049;
    padding: 0px 15px;
}

.clinic-info .clinic-info_description .clinic-info_desc_txt p {
    font-weight: 300;
    color: gray;
}

.clinic-info_description hr {
    border: none;
    height: 1px;
    background: linear-gradient(0.25turn, #fff 0%, #e9fdf6 25%, #abf7dc 75%, #69B99D 100%);
}

#flex-column-reverse {
    background-color: #F6FCFF;
}

#hr-unique {
    background: linear-gradient(0.25turn, #69B99D 0%, #abf7dc 25%, #e9fdf6 75%, #fff 100%);
}


@media (min-width: 1090px) {

    .clinic-info {
        padding-bottom: 70px;
    }

    .clinic-info .description_content {
        display: flex;
        width: 100%;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .clinic-info .clinic-info_description .desc_img {
        align-items: flex-start;
        justify-content: flex-start;
        width: 40%;
    }

    .clinic-info_title{
        text-align: end;
    }

    .clinic-info .clinic-info_description .desc_img-in {
        align-items: flex-end;
        justify-content: flex-end;
        width: 40%;
    }

    .clinic-info .clinic-info_description .desc_img-in img {
        width: 95%;
        box-shadow: 90px -25px #0A486B;
    }

    .clinic-info .clinic-info_description .clinic-info_desc_txt {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        gap: .5rem;
        text-align: left;
        padding: 2px 20px;
        width: 50%;
    }

}

@media (min-width: 580px) {
    .clinic-info {
        padding-bottom: 70px;
    }

    .clinic-info .description_content {
        display: flex;
        width: 100%;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .clinic-info .clinic-info_description .desc_img {
        align-items: flex-start;
        justify-content: flex-start;
        width: 40%;
    }

    .clinic-info_title{
        text-align: end;
    }

    .clinic-info .clinic-info_description .desc_img-in {
        align-items: flex-end;
        justify-content: flex-end;
        width: 40%;
    }

    .clinic-info .clinic-info_description .desc_img-in img {
        width: 95%;
        box-shadow: 90px -25px #0A486B;
    }

    .clinic-info .clinic-info_description .clinic-info_desc_txt {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        gap: .5rem;
        text-align: left;
        padding: 2px 20px;
        width: 50%;
    }
}