/* Page Services */
.services {
  display: grid;
  place-items: center;
  margin: 150px 100px 150px 100px;
}

/* Info Services */
.infoservices {
  color: var(--Dark);
  display: grid;
  place-items: center;
  width: 60%;
  text-align: center;
}

.infoservices h1 {
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
}

.infoservices p {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--Gray);
  height: 69px;
  padding-bottom: 64px;
}

@media (max-width: 580px) {

  .services {
    display: grid;
    place-items: center;
    margin: 150px 20px 150px 20px;
  }

  .infoservices {
    width: 100%;
  }

  .infoservices p {
    text-align: center;
    width: 90%;
    padding-bottom: 140px;
  }
}