.banner {
    width: 100%;
    height: 100vh;
    background-image: url("assets/img/veterinario.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;

}

.banner .description {

    align-self: flex-end;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: #fff;
    text-align: center;
    gap: 1rem;

}

.banner .description .desc_title {
    font-weight: 600;
    font-size: larger;
    text-shadow: 0px 3px #698990;

}

.banner .description .desc_txt {
    font-size: medium;

}

.banner .description button {
    font-size: large;
    color: #fff;
    background-color: #62B6CB;
    border: none;
    border-radius: 5px;
    padding: 20px 15px;
    cursor: pointer;
}

.banner .description button:hover {
    background-color: #5dabbe;
}