* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* Var Colors*/
:root {
  --bg-color: #fff;
  --text-color: #000000;
  --text-color-secon: #fff;
  --main-color: #62b6cb;
  --sec-bg-color: #1b4965;
  --Dark: #033049;
}

html {
  scroll-behavior: smooth;
}

#root{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;  
}

/* Page */
body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

/* TEST */
.teste {
  padding: 150px 100px 100px;
}